.array-container {
    position: absolute;
    left: 50px;
    padding-top: 1rem;
    min-height: 30rem;
}

.array-bar {
    width: 2px;
    background-color: blue;
    display: inline-block;
    margin: 0 1px;
}

body {
    background-color: darkslategray;
}