.sorting-visualizer {
    position: absolute;
    height: 100% - 72px;
    width: 100%;

}
.array-container {
    position: relative;
    padding-bottom: 8px;
}
.container-fluid, .row {
    height: 100%;
}
.table th {
    border-top: 0 !important;
    text-align: center;   
    padding: 4px !important;
}
.table {
    margin-bottom:0 !important;
}
.btn {
    margin: 4px;
}

.array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}

body {
    background-color: darkslategray;
}

.btn-light
{
    background-color: #E5E88D !important;
    border-color: #E5E88D !important;
    color: rgb(0, 0, 0) !important;
}
.btn-light:not(:disabled):not(.disabled):hover
{
    background-color: #fcffa4 !important;
    border-color: #a1a363 !important;
}
.navbar-brand {
    padding-bottom: 10px !important;
}

.form-select {
    display: inline-block !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    width: 150px !important;
}